{% extends 'base.html' %}
{% load static %}

{% block titulo %}
DetalhesFilmes Hashflix
{% endblock %}

{% block content %}

<div class="py-10">

    <h1> Este é os detalhes do filme:{{ object.titulo }}</h1>

    <hr>
    <p> {{ object }}</p>
    <!--chamada da variavel criada na views-->
    <p>{{ object.descricao }}</p>
    <img src="{{ filme.thumb.url }}">

    <h2>Episódios</h2>
    {% for episodio in object.episodios.all %}
    <a href="{% url 'filme:episodio_detalhe' episodio.pk %}">
       <p>Episódio {{ forloop.counter }}: {{ episodio.titulo }}</p>
    </a>


    {% endfor %}


</div>


{% endblock %}
