{% extends 'base.html' %}
{% load static %}

{% block titulo %}
DetalhesFilmes Hashflix
{% endblock %}

{% block content %}

<div class="py-10">

    <h1> Este é os detalhes do filme:{{ object.titulo }}</h1>

    <hr>
    <p> {{ object }}</p>
    <!--chamada da variavel criada na views-->
    <p>{{ object.descricao }}</p>
    <p>Visualizaçoes: {{ object.visualizacoes }}</p>
    <img src="{{ filme.thumb.url }}">

    <h2>Episódios</h2>
    {% for episodio in object.episodios.all %}
    <a href="{% url 'filme:episodio_detalhe' episodio.pk %}">
       <p>Episódio {{ forloop.counter }}: {{ episodio.titulo }}</p>
    </a>


    {% endfor %}


</div>
<div class="py-4">
    <h2>Filmes Relacionados:</h2>
    {% for filme in filmes_relacionados %}
   <p>
        <!--link,pega o app filme na urls detalhes_filmes-->
      <a href="{% url 'filme:detalhesfilme' filme.pk %}">
           {{ filme.titulo }}
      </a>
   </p>
    {% endfor %}

</div>


{% endblock %}
