{% extends 'base.html' %}
{% load static %}

{% block titulo %}
HomeFilmes Hashflix
{% endblock %}

{% block content %}
<div class="py-10">
    <h1>HomeFilmes Page</h1>

    {% for filme in object_list %}
        <hr>
        <a href="{% url 'filme:detalhesfilme' filme.pk %}">
            <p>{{ filme.titulo }}</p>
        </a>
        <p>{{ filme.descricao }}</p>
        <img src="{{ filme.thumb.url }}" alt="{{ filme.titulo }}">
    {% endfor %}
</div>

<div class="py-10">
    <h2>New Movies</h2>
    {% for filme in lista_filmes_recentes %}
        <p>{{ filme.titulo }}</p>
    {% empty %}
        <p>No recent movies found.</p>
    {% endfor %}
</div>


<div class="py-10">
    <h2>Filmes em Alta</h2>
    {% for filme in lista_filmes_emalta %}
        <p>{{ filme.titulo }}</p>
        <img src="{{ filme.thumb.url }}" alt="{{ filme.titulo }}">
    {% empty %}
        <p>Nenhum filme em alta encontrado.</p>
    {% endfor %}
</div>
{% endblock %}
